.header {
  border-bottom: 1px solid #ececec;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
padding-left: 15px;
padding-right: 15px;
  }

  &--container {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 767px){
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
}
}

.header-list {
  color: var(--font-color-one);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding: 0;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: flex-start;
  color: var(--font-color-two);

  @media screen and (max-width: 767px) {
  display: none;}

  

  

  &__link {
  color: var(--font-color-one);
  padding-top: 30px;
  padding-bottom: 30px;
  display: inline-block;

  @media screen and (max-width: 767px) {
  display: none;
}

}
}

.header-contact {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    gap: 10px;
    
  }
  
}

.header-list__contact {
  color: var(--font-color-two);
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  gap: 10px;
  fill: var(--font-color-two);
  align-items: center;

  @media screen and (max-width: 767px) {
  display: none;}

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    

  }




}
.header-list__link,
.header-list__link,
.header-list__contact,
.header-list__contact {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list__link:hover,
.header-list__link:focus,
.header-list__contact:hover,
.header-list__contact:focus {
  color: var(--brand-color);
  fill: var(--brand-color);
}
.nav {
  margin-right: auto;
  display: flex;
}