.navigation {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;

  @media screen and (max-width: 767px) {
    max-width: 362px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 30px;
    align-items: center;
  }

}
.navigation__btn {
  border: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
  color: var(--background-color-two);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
}