.section-title {
   
  &__title {
    font-size: 26PX;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color-two);
    @media screen and (max-width: 1199px){
    max-width: 360px;}

  @media screen and (min-width: 1200px) {
  font-weight: 900;
  line-height: 1.3;
  min-height: 120px;
  font-size: 44px;
  min-height: 120px;
  width: 696px;
}

  }

max-width: 480px;
background-color: var(--background-color-one);
padding: 118px 0px 118px 0px;
margin-right: auto;
margin-left: auto;
color: var(--background-color-two);
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
url(../images/background/Img_sm-@1x.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 118px 0 118px 0;
min-height: 400px;

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
url(../images/background/Img_sm-@2x.jpg);
  }


@media screen and (min-width: 768px) and (max-width: 1199px){
padding: 118px 0PX 118px 0PX;
max-width: 768px;
min-height: 400px;
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
url(../images/background/Img_md-@1x.jpg);

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
url(../images/background/Img_md-@2x.jpg);}




}

@media screen and (min-width: 1200px) {
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background/Img_lg@1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    background-color: var(--background-color-one);
    padding: 200px 0 200px 0;

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
url(../images/background/Img_lg@2x.jpg);}
  



  }





}
